body{
    background-color:black;
    color:whitesmoke;
}

header{
    color: chocolate;
    text-align: center;
}

img{
    max-width: 400px;
}

#facts-section{

    color:lightsalmon;
}

blockquote{
    font-style: italic;
}

h2{
    text-decoration: underline;
}